In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('./tmdb-movies.csv')

In [19]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [3]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [18]:
df.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [17]:
df.isna().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [62]:
def get_percent_miss_value_cols(df):
    cols = df.columns
    
    for col in cols:
        percent_missing = df[col].isnull().sum() * 100 / len(df[col])
        print("------------"+col+"------------"+"\n\n"+f"Missing Percentage :{percent_missing}\n\n")
#     if sort == 0:
#         dict1 = sorted(dict1.items(),key=lambda x:x[1],reverse=False)
#         return dict1
#     else:
#         dict1= sorted(dict1.items(),key=lambda x:x[1],reverse=True)

In [63]:
a = get_percent_miss_value_cols(df)
print(a)

------------id------------

Missing Percentage :0.0


------------imdb_id------------

Missing Percentage :0.09203018590097552


------------popularity------------

Missing Percentage :0.0


------------budget------------

Missing Percentage :0.0


------------revenue------------

Missing Percentage :0.0


------------original_title------------

Missing Percentage :0.0


------------cast------------

Missing Percentage :0.699429412847414


------------homepage------------

Missing Percentage :72.97993741947359


------------director------------

Missing Percentage :0.4049328179642923


------------tagline------------

Missing Percentage :25.989324498435487


------------keywords------------

Missing Percentage :13.740106755015645


------------overview------------

Missing Percentage :0.03681207436039021


------------runtime------------

Missing Percentage :0.0


------------genres------------

Missing Percentage :0.2116694275722437


------------production_companies------------

Missing Percentage :9.479109147800479


------------release_date------------

Missing Percentage :0.0


------------vote_count------------

Missing Percentage :0.0


------------vote_average------------

Missing Percentage :0.0


------------release_year------------

Missing Percentage :0.0


------------budget_adj------------

Missing Percentage :0.0


------------revenue_adj------------

Missing Percentage :0.0


None

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [5]:
def get_unique_values(dataframe):
    cols = dataframe.columns
    for col in cols:
        print("---------------",col,"---------------")
        print(dataframe[col].unique())
        print("\n\n\n")

In [6]:
def change_cols_to_datetime(df,cols):
    for col in cols:
        df[col]=pd.to_datetime(df[col])

In [7]:
get_unique_values(df)

--------------- id ---------------
[135397  76341 262500 ...  39768  21449  22293]




--------------- imdb_id ---------------
['tt0369610' 'tt1392190' 'tt2908446' ... 'tt0060161' 'tt0061177'
 'tt0060666']




--------------- popularity ---------------
[32.985763 28.419936 13.112507 ...  0.065141  0.064317  0.035919]




--------------- budget ---------------
[150000000 110000000 200000000 190000000 135000000 155000000 108000000
  74000000 175000000 245000000 176000003  15000000  88000000 280000000
  44000000  48000000 130000000  95000000 160000000  30000000  40000000
  28000000  68000000  81000000  20000000  61000000         0  49000000
  29000000  58000000   6000000  50000000  11000000  90000000  75000000
  25000000  10000000  12000000   4000000  11800000  35000000  55000000
  60000000 105000000  26000000  70000000 120000001   3500000  65000000
  50100000 100000000  13000000  99000000   2500000  34000000  80000000
  17000000  31000000   5000000  64000000  11930000   8500000  23000000
  53000000   8900000    700000  14800000  19500000   1000000   8000000
   1800000   2000000  18000000    630019  14000000  37000000   7000000
   3000000   9600000   2240000   3300000    100000  21000000   5300000
   9000000    447524   1950000   4400000  27000000    500000    600000
   7500000   1500000    650000   9500000   3400000   1300000   1900000
  13500000        10 165000000 170000000 125000000 250000000 127000000
  85000000 210000000  42000000 178000000  58800000 140000000 180000000
 145000000 132000000  16000000  45000000   5500000  12600000 120000000
 103000000   4900000  66000000  22000000  13200000  24000000  12250000
   6500000  22500000  19800000  12500000   6700000  13300000    200000
   6600000  36000000   2800000   2400000   3150000   2700000   1200000
    318000  12700000    325927    156660    950000        18   6900000
         1   5900000    150000   1400000       117    750000   3250000
         5   2489400    900000     10000    810000    230000    530000
 237000000  23600000  38000000  33000000  18500000  47000000  32000000
   4500000  14700000  41000000  39000000  87000000   4300000    800000
  78146652   5100000   6300000  19000000   7300000   3700000   6400000
   5060730   2900000    425000   2011799        75   1700000      5000
   3200000       108    250000     31192      3500  69000000 260000000
 117000000 112000000  52000000  21800000   1987650   5773100   5800000
   4466000   3100000    550000 104002432   4600000     30000     65000
 425000000    967686   7347125   2300000   7200000   3167000    300000
   1100000   1250000         3  63000000 115000000  10500000 133000000
  73000000     25000  34200000  51000000        80  82000000  21500000
        25   4250000    450000   3800000   9210000  93000000  98000000
  52500000  92000000 102000000 137000000  72000000  57000000  21150000
 107000000  17700000  62000000   2079000  94000000   4800000    165000
 185000000 225000000  20500000  10800000  11500000         8   6100000
  14100000   8376800  15400000   4700000  25100000   5750000   9100000
     20000   3600000    515788   4180000    170000 380000000  32500000
 163000000  50200000  79000000  56000000  49900000  14350531  12468389
  15774948 195000000   7700000   4798235   4317946    350000        93
    125000  10831173    135000    930000  19100000   8400000   1150000
   6965576    134005     70000   8978040      8000   4200000     17000
     45202   1340000        97   6800000        20   2902660     61733
  59000000 139000000  54000000   3500159  46000000  84000000        68
        28  43000000  78000000  15600000     40000     27000  17080000
    400000   7400000  10300000        32 220000000 215000000  44500000
 209000000   3730500  26350000  16600000   5600000    850000  18200000
   4275000        17   5990000   2840000     10400   8510000       110
  76000000  27440000  16500000   7800000    780000   8256269   4361898
    569217       300  16700000 116000000    786675 255000000   1030064
  10900000    125687  27220000  25500000   8200000  17500000   6218100
   5200000   1104000  83000000        15    567000    725000     50000
   1052753    996519        89   5112027   7720000    232000       750
       650       500    348164  12305523  17900000   2200000    945000
       114    860000   2410000 113000000 126000000 207000000    169000
    475000  14200000    818418   1549000   4750000  10284523     16398
     72000   1600000 270000000  82500000 149000000  15500000  72500000
  37665000  16800000  19400000    994000   9364800   2380000  14500000
   8300000      2500     79000      7000    130000  24665810    825000
   5400000  74500000     74050  19250000        14   2600000        90
    823258   8800000     12000     90000   3352254     75000 300000000
 258000000    160000  86000000     15000  51500000  67000000  10200000
  60795000  27500000    230400       700        12    120000    441892
      6000  31500000    239000    420000   1355000  14400000  25300000
   1746964   8600000   2550000   1065000  32350000  40600000   6200000
  10100000        27   5952000    980385  29500000  30250000   8169363
         6  13365000    220000  11700000   3705538   4439832   9300000
   1750000   4100000    145786     62000   2962051  25530000 123000000
 127500000  12800000  41300000  63600000  10700000     60000         2
     35000  71000000   1350000  16400000  18598420  13800000    787000
    645180   8045760     33000  12300000     23000  22700000     25710
   1880006        95    114000    275000     85000    179000    980000
   2650000       126   2135161    783000    777000   1645000        30
  37931000    225000  22997992   2068041   5037000    806948    270000
  14600000        21  19885552     68000    947000    640000       200
  31115000   9400000     66500       113  24500000    111000     22500
   4638783  25485000   3716946     45000   5760000       115    360000
   6244087    175000   7920000        11    660000   6727000    315000
   1377800   4653000   5115000     19000]




--------------- revenue ---------------
[1513528810  378436354  295238201 ...     321952   78000000   33736689]




--------------- original_title ---------------
['Jurassic World' 'Mad Max: Fury Road' 'Insurgent' ...
 'Beregis Avtomobilya' "What's Up, Tiger Lily?" 'Manos: The Hands of Fate']




--------------- cast ---------------
["Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vincent D'Onofrio|Nick Robinson"
 'Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nicholas Hoult|Josh Helman'
 'Shailene Woodley|Theo James|Kate Winslet|Ansel Elgort|Miles Teller' ...
 'Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Zhzhyonov|Olga Aroseva|Lyubov Dobrzhanskaya'
 'Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|John Sebastian|Tadao Nakamaru'
 'Harold P. Warren|Tom Neyman|John Reynolds|Diane Mahree|Stephanie Nielson']




--------------- homepage ---------------
['http://www.jurassicworld.com/' 'http://www.madmaxmovie.com/'
 'http://www.thedivergentseries.movie/#insurgent' ...
 'http://www.animalhouse.com/'
 'http://www.mgm.com/#/our-titles/1092/The-Last-Waltz/'
 'http://en.wikipedia.org/wiki/Hooper_(film)']




--------------- director ---------------
['Colin Trevorrow' 'George Miller' 'Robert Schwentke' ... 'Alan Rafkin'
 'Bruce Brown' 'Harold P. Warren']




--------------- tagline ---------------
['The park is open.' 'What a Lovely Day.' 'One Choice Can Destroy You' ...
 'Cinerama sweeps YOU into a drama of speed and spectacle!'
 'WOODY ALLEN STRIKES BACK!'
 "It's Shocking! It's Beyond Your Imagination!"]




--------------- keywords ---------------
['monster|dna|tyrannosaurus rex|velociraptor|island'
 'future|chase|post-apocalyptic|dystopia|australia'
 'based on novel|revolution|dystopia|sequel|dystopic future' ...
 'car race|racing|formula 1' 'car|trolley|stealing car'
 'fire|gun|drive|sacrifice|flashlight']




--------------- overview ---------------
['Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond.'
 "An apocalyptic story set in the furthest reaches of our planet, in a stark desert landscape where humanity is broken, and most everyone is crazed fighting for the necessities of life. Within this world exist two rebels on the run who just might be able to restore order. There's Max, a man of action and a man of few words, who seeks peace of mind following the loss of his wife and child in the aftermath of the chaos. And Furiosa, a woman of action and a woman who believes her path to survival may be achieved if she can make it across the desert back to her childhood homeland."
 'Beatrice Prior must confront her inner demons and continue her fight against a powerful alliance which threatens to tear her society apart.'
 ...
 'An insurance agent who moonlights as a carthief steals cars various crooks and never from the common people. He sells the stolen cars and gives the money to charity. His best friend, a cop, is assigned to bring in this modern robin hood.'
 'In comic Woody Allen\'s film debut, he took the Japanese action film "International Secret Police: Key of Keys" and re-dubbed it, changing the plot to make it revolve around a secret egg salad recipe.'
 'A family gets lost on the road and stumbles upon a hidden, underground, devil-worshiping cult led by the fearsome Master and his servant Torgo.']




--------------- runtime ---------------
[124 120 119 136 137 156 125 141  91  94 148 108 105 167 109 115 112 130
 123 114 131 128 132 103 117 101  93 111 147 106 122 116  97  92 118 121
 100 133  96 102  95  88  99  89 107   0   8 104  98 113  85  90  84  82
  87  31  83  48  67  86  74 134   7 110  72  80 127  76   5  56 135  44
  75  81   4 129  78 138 300  62  43  77 153  70  73  14  57  71  79 168
  25  60 246  54  52  16  65  58  18  64  30 240  17 169 144 145 139 165
 142 164  22   6 150 146 233  41 210  23   3   9 152 282 163 285  66 175
 155 177 143 162 158 140 161 170  38 149  36  27  61  11  26 176  69  59
 500 166 185  20  21 338 182 421  15 540 184  12 178  47  63  45 160 189
 157 159 126 188 181 180  33 257 183 705 174 400 191 213 179 470  32 173
  42  10 501  55  68  13 154 202 201  40 192 247 208  50  49 336 900 250
 877 226 254 235 224 366 171 273 172  24 220 389 252   2 360  19 214 352
 248 194 186 187 199 566 561 223 151 270 550  34 294 219  28 229  29 193
 197 225  53 195 242 417 292 372 236 230 200  51 216]




--------------- genres ---------------
['Action|Adventure|Science Fiction|Thriller'
 'Adventure|Science Fiction|Thriller'
 'Action|Adventure|Science Fiction|Fantasy' ...
 'Adventure|Drama|Action|Family|Foreign' 'Comedy|Family|Mystery|Romance'
 'Mystery|Science Fiction|Thriller|Drama']




--------------- production_companies ---------------
['Universal Studios|Amblin Entertainment|Legendary Pictures|Fuji Television Network|Dentsu'
 'Village Roadshow Pictures|Kennedy Miller Productions'
 'Summit Entertainment|Mandeville Films|Red Wagon Entertainment|NeoReel'
 ... 'Cherokee Productions|Joel Productions|Douglas & Lewis Productions'
 'Benedict Pictures Corp.' 'Norm-Iris']




--------------- release_date ---------------
['6/9/15' '5/13/15' '3/18/15' ... '12/21/66' '11/2/66' '11/15/66']




--------------- vote_count ---------------
[5562 6185 2480 ...  641 1113  786]




--------------- vote_average ---------------
[6.5 7.1 6.3 7.5 7.3 7.2 5.8 7.6 8.  6.2 5.2 7.4 6.1 7.  6.8 5.3 7.8 6.4
 6.6 7.7 5.6 6.9 5.9 6.7 5.5 5.  4.4 5.4 5.1 4.8 5.7 4.1 3.9 4.5 6.  4.2
 3.6 4.3 4.9 4.7 4.  3.5 3.8 3.3 3.7 4.6 7.9 8.2 2.6 3.1 8.9 3.2 2.4 8.4
 3.  2.8 3.4 8.8 8.1 8.3 2.7 2.5 2.1 8.6 2.9 8.5 9.2 2.2 2.  8.7 2.3 1.5]




--------------- release_year ---------------
[2015 2014 1977 2009 2010 1999 2001 2008 2011 2002 1994 2012 2003 1997
 2013 1985 2005 2006 2004 1972 1980 2007 1979 1984 1983 1995 1992 1981
 1996 2000 1982 1998 1989 1991 1988 1987 1968 1974 1975 1962 1964 1971
 1990 1961 1960 1976 1993 1967 1963 1986 1973 1970 1965 1969 1978 1966]




--------------- budget_adj ---------------
[1.37999939e+08 1.01199955e+08 1.83999919e+08 ... 3.43626452e+07
 4.70261028e+06 1.27642279e+05]




--------------- revenue_adj ---------------
[1.39244589e+09 3.48161292e+08 2.71619025e+08 ... 4.03080882e+07
 1.34360294e+08 8.06161763e+07]

In [8]:
df.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [9]:
date_time_col = ['release_date']

In [10]:
change_cols_to_datetime(df,date_time_col)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  datetime64[ns]
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(6), object(10)
memory usage: 1.7+ MB

In [12]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09